---
import WeatherApp from '../components/WeatherApp';
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
import '../styles/weather.scss';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Liquid Weather</title>
	</head>
	<body>
		<WeatherApp client:only="react" />
		<SpeedInsights />
		<Analytics />
	</body>
</html>
